.btn-warning{
    background-color: #f4ac0b;
    width: 20%;
    height: 10%;
    margin: 20% 10% 10% 15%;
    padding: 5%;
    font-size: 3rem;
    border-radius: 10%;
    
  }
  .cliente{
    background-color: #f4ac0b;
    width: 16%;
    font-size: 1.5rem;
    margin: 10px;
  }
  
  .cliente-input{
    width: 16%;
    font-size: 1.5rem;
  }
  .container{
    height: 100%;
  }